<footer id="site-footer" role="contentinfo">
Copyright Info
<!-- List of links to other resumes -->
  <aside id="resume-types" role="complementary">
    <h2 class="">Other Resume Types and Styles</h2>
    <ul>
      <li>Animation/Film Storyboard Artist</li>
      <li>Animator</li>
      <li>Artist Workshop Host</li>
      <li>Background Artist</li>
      <li>Book Illustration</li>
      <li>Full Stack Designer</li>
      <li>Graphic Design</li>
      <li>Illustration</li>
      <li>Tutor / Private Lessons</li>
      <li>UX/UI Design</li>
      <li>Web Design</li>
      
      <li>CSS Flex Designer Resume</li>
    </ul>
  </aside>
</footer>
