<header id="site-header" role="banner">
  <h1 id="welcome-h1" class="sr-only">Art, Geek, Design presents the amazing web-based resume of Hope Bryant!</h1>
  <nav id="main-nav" role="navigation" aria-labeledby="nav-main">
    <h2 id="nav-main" class="sr-only">Web Page Navigation (Skip Links)</h2>
   <ul>
     <li><a href="#"> Return Home</a></li>
     <li><a href="https://www.behance.net/hbryant" target="_new">View Portfolios<span class="sr-only">in a new browser tab.</span></a></li>
     <li><a href="resume-types">Choose from a list of resume types and styles</a></li>
     <li>Resume Sections
       <ul>
         <li><a href="#resume-head"><span class="sr-only">Resume Header &amp;</span> Contact Information</a></li>
         <li><a href="#skill-set">Skills</a></li>
         <li><a href="#links"><span class="sr-only">Off-site</span>Portfolio</a></li>
         <li><a href="#q-summary">Qualifications Summary</a></li>
         <li><a href="#experience">Experience</a></li>
         <li><a href="#teaching-related-exp">Teaching &amp; Related Experience</a></li>
         <li><a href="#edu">Education</a></li>
         <li><a href="#grants-honors=awards">Grants,Honors &amp; Awards</a></li>
         <li><a href="#exhibitions">Exhibitions</a></li>
         <li><a href="#comissions">Comissions</a></li>
         <li><a href="#collections">Collections</a></li>
         <li><a href="#bibliography">Bibliography</a></li>
         <li><a href="#lectures-workshops">Lectures &amp; Workshops</a></li>
         <li><a href="#resume-footer">Resume Footer <span class="sr-only">Copyright Information, Liscensing &amp; Fair Use</span></a></li>
       </ul>
     </li>
    </ul>
  </nav>
  <section role="search">
    search feature?
  </section>
</header>
