<!-- Resume Containter Start -->
<main id="resume-container" role="main">
  <article>
    <header id="resume-head">
      resume header
    </header>
    <section id="skill-set">
      skills
    </section>
    <section id="links">
      portfolio links
    </section>
        <section id="q-summary">
      qualifacation sumary
    </section>
    <section id="experience">
      work expereince
    </section>
    <section id="teaching-related-exp">
      list of comissions
    </section>
    <section id="edu">
      education
    </section>
    <section id="grants-awards-honors">
      artist grants, fellowships, awards, honors, scholarships, residencies
    </section>
    <section id="exhibitions">
      shows, conventions exhibitions my art has been shown at...
This is an important part of an artist resume and if it is impressive (more then work expereince) should be shown near the top.
    </section>
    <section id="comissions">
      list of comissions
    </section>
    <section id="collections">
      list of works collected
    </section>
    <section id="bibliography">
      list of reviews, articles about my work, books, catelgouges, etc
    </section>
    <section id="lectures-workshops">
      list of comissions
    </section>
    <section id="">
      list of comissions
    </section>
    <footer id="resume-foot">
      resume footer?
    </footer>
  </article>
</main>
<!-- Resume Containter End -->
